<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="jobTable">
    <th:block th:each="job : ${jobs}">
        <table class="job-listing" style="width: 35rem">
            <tbody>
            <tr>
                <td class="text-center fw-bold" style="width: 40%">ID</td>
                <td th:text="${job.getId()}" class="job-data"></td>
            </tr>
            <tr>
                <td class="text-center fw-bold">Name</td>
                <td th:text="${job.getName()}" class="job-data"></td>
            </tr>
            <tr>
                <td class="text-center fw-bold">Employer</td>
                <td class="job-data" >
                    <a th:text="${job.getEmployer()}" th:href="@{/list/jobs(column=employer,value=${job.getEmployer()})}"></a>
                </td>
            </tr>
            <tr>
                <td class="text-center fw-bold">Location</td>
                <td class="job-data">
                    <a th:text="${job.getLocation()}" th:href="@{/list/jobs(column=location,value=${job.getLocation()})}"></a>
                </td>
            </tr>
            <tr>
                <td class="text-center fw-bold">Position Type</td>
                <td class="job-data">
                    <a th:text="${job.getPositionType()}" th:href="@{/list/jobs(column=positionType,value=${job.getPositionType()})}"></a>
                </td>
            </tr>
            <tr>
                <td class="text-center fw-bold">Skill</td>
                <td class="job-data">
                    <a th:text="${job.getCoreCompetency()}" th:href="@{/list/jobs(column=coreCompetency,value=${job.getCoreCompetency()})}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
    </div>

</body>
</html>